<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Demid Shatilov">

	<link rel="shortcut icon" href="{% static 'img/icons/icon-48x48.png' %}">
    <link href="{% static "css/light.css" %}" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

	<title>{% if mode == 'create' %}
        Создание профиля
	{% elif mode == 'edit' %}
        Редактирование профиля
    {% elif mode == 'change_password' %}
        Замена пароля
    {% endif %}</title>

	<script src="{% static "js/app.js" %}"></script>
{#	<script src="{% static "js/settings.js" %}"></script>#}
	<style>
		body {
			opacity: 0;
		}
	</style>
</head>

<body>
	<main class="d-flex w-100 h-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">{% if mode == 'create' %}Регистрация {% else %} Редактирование {% endif %}</h1>
                            {% if mode == 'create' %}
                                <p class="lead">
                                    Или <a href="{% url 'login' %}">войдите</a>
                                </p>
                            {% endif %}
                            <p class="lead">
                                {% for err in error.values %}
                                   {{ err }}
                                {% endfor %}
                                {% for name, err in error.items %}
                                  {{ name }}: {{ err }}
                                {% endfor %}
                            </p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<form method="post">
                                    {% if mode == 'edit' or mode == 'create' %}
										<div class="mb-3">
											<label class="form-label">Логин</label>
											<input required class="form-control form-control-lg" type="text" name="username" {% if mode == 'create' %} placeholder="Введите ваш логин" {% else %} value="{{ user_data.username }}" {% endif %} />
										</div>
										<div class="mb-3">
											<label class="form-label">Фамилия</label>
											<input required class="form-control form-control-lg" type="text" name="last_name" {% if mode == 'create' %} placeholder="Введите вашу фамилию" {% else %} value="{{ user_data.last_name }}"{% endif %} />
										</div>
										<div class="mb-3">
											<label class="form-label">Имя</label>
											<input required class="form-control form-control-lg" type="text" name="first_name" {% if mode == 'create' %} placeholder="Введите ваше имя" {% else %} value="{{ user_data.first_name }}"{% endif %} />
										</div>
                                        <div class="mb-3">
											<label class="form-label">Email</label>
											<input required class="form-control form-control-lg" type="email" name="email" {% if mode == 'create' %} placeholder="Введите email" {% else %} value="{{ user_data.email }}"{% endif %} />
										</div>
                                        <div class="mb-3">
											<label class="form-label">День Рождение</label>
											<input class="form-control form-control-lg" type="date" name="date_of_birth" value="{% if mode == 'edit' %}{{ user_data.date_of_birth }}{% endif %}" />
										</div>
                                    {% endif %}
                                        {% if mode == "change_password" %}
                                            <div class="mb-3">
                                                <label class="form-label">Текущий пароль</label>
                                                <input required class="form-control form-control-lg" type="password" name="old_password" placeholder="Введите текущий пароль" />
                                            </div>
                                        {% endif %}
                                        {% if mode == 'create' or mode == 'change_password' %}
                                            <div class="mb-3">
                                                <label class="form-label">Пароль</label>
                                                <input required class="form-control form-control-lg" type="password" name="{% if mode == 'create'  %}password1{% else %}new_password1{% endif %}" placeholder="Введите пароль" />
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Повтор пароля</label>
                                                <input required class="form-control form-control-lg" type="password" name="{% if mode == 'create'  %}password2{% else %}new_password2{% endif %}" placeholder="Введите повторно пароль" />
                                            </div>
                                        {% endif %}
										<div class="text-center mt-3">
                                            <button type="submit" class="btn btn-lg btn-primary">{% if mode == 'create' %}Зарегистрироваться{% else %}Сохранить изменения{% endif %}</button>
                                            <!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
										</div>
                                        {% csrf_token %}
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

</body>

</html>